@import "variable";
@import "functions";
@import "fonts";

html {
    font-size: $fontSize;
}

body {
    @include reg;
    margin: 0;
    padding: 0;
}

section {
    padding: fromPxToRem(100px) 0;
}

button,
textarea,
button:active,
textarea:active,
button:focus,
textarea:focus {
    outline: none;
    border: 1px solid #ddd;
}

.main {
    background: url('../img/main-bg.jpg') center center no-repeat;
}

.button {
    color: $textColor;
    background-color: #ffb700;
    text-transform: uppercase;
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    @include bold;
    font-size: 1.2rem;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient($buttonsColorFrom, $buttonsColorTo);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.main,
.popup,
.feedback {

    padding: 4rem 0;

    &-content {
        margin-top: 10.4rem;

        h1 {
            @include bold;
            text-transform: uppercase;
            font-size: 4rem;
            margin-bottom: 4rem;
            line-height: 1.45;
        }
    }

    &-title p {
        margin-bottom: 4rem;
        font-size: 2.4rem;
    }

    & span {

        display: inline-block;
        padding: 2rem 5rem;
        color: white;
        text-align: center;
        font-size: 1.8rem;
        background-color: $mainColor;

        strong {
            font-size: 3rem;
            @include bold;
        }
    }

    &-trigger {
        font-size: 2.2rem;
        text-transform: uppercase;
        @include bold;
        margin-top: 3rem;
        display: block;
    }

    .logoText {
        margin-top: 13px;
    }

    .logoText p {
        font-size: 1.5rem;
        margin: 0;
    }

    .header {
        height: 7rem;

    }

    .phone-link {
        display: inline-block;
        @include bold;
        color: #000;
        font-size: 2rem;
        height: 7rem;
        line-height: 7rem;
    }

    .btn-wrap {
        display: table;
        height: 7rem;
    }

    .wrap-content {
        display: table-cell;
        vertical-align: middle;
    }

    .header-btn {
        display: inline-block;
    }

    &-form {
        padding: 4rem;
        background-color: #fff;
        text-align: center;

        h2 {
            font-size: 1.8rem;
            text-align: center;

            strong {
                font-size: 1.9rem;
            }
        }

        & input {
            display: block;
            border: 1px solid #ddd;
            width: 100%;
            padding: 1.5rem;
            margin: 2rem 0;
            border-radius: 5px;
        }

        & label {
            background-color: #fff;
            padding: 0.5rem;
            position: absolute;
            transform: translate(-50%) translateY(-50%);
            left: 50%;
            font-size: 1.3rem;
        }

        .form-btn {
            display: block;
            height: 5.5rem;
            width: 100%;
            font-size: 1.6rem;
        }

        small {
            display: block;
            margin-top: 1.5rem;
        }
    }
}

.advantages {

    h2 {
        @include bold;
        font-size: 3.6rem;
        margin-bottom: 13rem;
    }

    img {
        margin-bottom: 6.4rem;
    }

    .advTitle p {
        @include bold;
        font-size: 2rem;
        margin-bottom: 3.5rem;
    }

    .adv_text p {
        font-size: 1.6rem;
    }

    .section-header {
        margin: 10rem 0;
        text-align: center;
        font-weight: bold;
        font-size: 3.6rem;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
        font-weight: bold;
    }

    p {
        font-size: 1.6rem
    }

    &-block {
        text-align: center;
    }

    &-img img {
        height: 8rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .slick-active {
        outline: none;
    }

    .arrow {
        position: absolute;
        z-index: 99;
        top: 50%;
        transform: scaleY(-50%);
        width: 2rem;
        height: 2rem;
        border: none;
    }

    .prev {
        left: 0;
        background: url('../img/svg/left-arrow.svg') center no-repeat;
        background-size: 70%;
    }

    .next {
        right: 0;
        background: url('../img/svg/right-arrow.svg') center no-repeat;
        background-size: 70%;
    }
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    &-close {
        position: absolute;
        right: -1.5rem;
        top: -1.7rem;
        width: 2rem;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 3rem;
        color: $textColor;
    }

    &-content {
        position: fixed;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        background-color: $textColor;
        padding: 1rem;
        text-align: center;
        margin-top: 0;
    }

    &-header {
        font-weight: bold;
    }
}

/* Секция с ценами */
.price {
    background-color: #005e00;

    .section-header {
        text-align: center;
        margin: 2rem 0 10rem;
        color: #fff;
        font-size: fromPxToRem(16px);

        h2 {
            font-weight: bold;
            font-size: 3rem;
        }
    }

    &-button {
        text-align: right;
    }

    &-header-btn {
        margin-top: 2rem;
        margin-top: 2.5rem;
    }



    &-block {
        padding: 1rem 3rem 4rem;
        min-height: 50rem;
        background-color: #fff;
        box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
        text-align: center;

        h4 {
            margin: 3rem 0rem;
            font-size: 1.7rem;
            font-weight: bold;
        }
    }

    &-tag {
        font-size: 1.9rem;
        font-weight: bold;
        display: block;
        margin-bottom: 2rem;
    }

    &-list {
        list-style: none;
        padding: 0;
        min-height: 14rem;
        font-size: 1.6rem;
        line-height: 1.6;

        li {
            &:before {
                content: '';
                display: inline-block;
                width: 1.4rem;
                height: 1.4rem;
                vertical-align: middle;
                background: url('../img/svg/checked.svg') no-repeat center;
                background-size: 100%;
                margin-right: 1rem;
            }
        }
    }

    &-img {
        img {
            width: 100%;
            max-height: 18.8rem;
        }
    }


}

/* Секция с ценами */


/* Секция с отзывами */
.feedback {
    position: relative;
    background: url('../img/feedback/bg.jpg') no-repeat center;
    background-size: cover;

    &-prev-btn {
        left: -4rem;
    }

    &-next-btn {
        right: -4rem;
    }

    &-slider {
        padding: 5rem 6rem;
        background-color: #fff;
        box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);

        .parametrs {
            font-size: 1.6rem;
        }

        .media {
            margin-top: 3rem;
            font-size: 1.4rem;

            &-body {
                margin-left: 1.5rem;
            }

            &-heading {
                font-weight: bold;
            }
        }

        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 4rem;
            height: 5rem;
            border: none;
            padding: 0;

            img {
                width: 100%;
            }
        }
    }

    &-text {
        position: relative;
        font-style: italic;
        margin-top: 2rem;
        padding: 1rem;
        border: 2px solid #49bf15;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -2rem;
            left: 4rem;
            width: 2rem;
            height: 2rem;
            background-color: #fff;
            border: 2px solid #49bf15;
            border-bottom: none;
            border-top-right-radius: 100px;
        }
    }

    &-form {
        text-align: center;
        margin-top: 5rem;
        background-color: #fff;
        padding: 4rem 10rem;

        h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        label {
            transform: translateX(-50%) translateY(30%)
        }

    }

    &-btn {
        max-width: 30rem;
        margin: auto;
    }

    .hand {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 30rem;
    }

    span {
        padding: 0;
        color: #000;
        background-color: transparent;
    }
}

.section-header h2 {
    margin: 5rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 3.6rem;
}

/* Секция с отзывами */

/* Секция со схемами */
.scheme {
    .section-header {
        h2 {
            @include bold;
            font-size: 3.6rem;
        }

        p {
            text-align: center;
            font-size: 1.6rem;
        }
    }

    background: #fff url('../img/shemes/scheme-bg.png') bottom -10rem right -10rem no-repeat;
    background-size: 65rem;

    &-block {
        min-height: 30rem;

        h3 {
            font-size: 2rem;
            @include bold;
        }
    }
}

/* Секция со схемами */

/* Мы развеем все опасения */
.problems {
    position: relative;

    &-woman {
        position: absolute;
        width: 30rem;
        bottom: 0;
        left: 50%;
        margin-left: -17rem;
    }

    &-list {
        border: 4px solid;
        padding: 2rem;
        min-height: 35rem;
        margin-bottom: 2rem;

        h4 {
            //color: $problems-color;
            @include bold;
            font-size: 2.1rem;

        }

        ul {
            list-style: none;
            padding: 2rem;

            li {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    width: 3rem;
                    height: 3rem;
                    background-color: #000;
                }

                padding-left: 3.5rem;
                position: relative;
                margin-bottom: 3rem;
            }

        }

        &_bad {
            border-color: $problems-color;

            h4 {
                opacity: 0.5;
            }

            ul li:before {
                background: url(../img/problems/problem.png) center no-repeat;
                background-size: 70%;
            }
        }

        &_good {
            border-color: $sectionBGColor;

            ul li:before {
                background: url(../img/problems/good.png) center no-repeat;
                background-size: 70%;
            }
        }
    }
}

/* Мы развеем все опасения */

.all-inclusive {
    .section-header {
        h2 {
            color: $sectionBGColor;
            @include bold;
        }

        p {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .media {
        align-items: center;
        min-height: 9rem;

        &-body {
            margin-left: 1rem;
        }

        h4 {
            @include bold;
            font-size: 1.6rem;
        }
    }
}

.circle {
    display: inline-block;
    background-color: $sectionBGColor;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &-border {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        padding: 0.3rem;
        border: 2px solid $sectionBGColor;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;
        color: $textColor;
        @include bold;
        font-size: 1.9rem;
    }
}

//Материалы
.materials {
    background: $bgColor url(../img/materials-bg.jpg) center no-repeat;
    background-size: cover;

    p {
        font-size: 1.6rem;
    }

    .section-header {
        p {
            text-align: center;
            font-size: 1.6rem;
        }
    }

    &-slider {
        padding-top: 5rem;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    &-link {
        font-size: 1.6rem;
        color: $mainColor;
        border-bottom: 1px dotted $mainColor;

        &:hover {
            color: darken($color: $mainColor, $amount: 10%);
            text-decoration: none;
        }
    }

    &-offer {
        margin-top: 4rem;
        text-align: center;
    }
}

//Материалы


//Посмотри как мы работаем
.tour {
    background: #fff url(../img/our-work-bg.jpg) center no-repeat;
    background-size: cover;

    &-subtitle {
        font-size: 2.2rem;

    }

    .main-form {
        .button {
            font-size: 1.49rem;
        }
    }
}

//Посмотри как мы работаем


//Доп услуги
.upsell {
    background: $sectionBGColor;
    color: $textColor;

    p {
        font-size: 2rem;
    }

    .section-header {
        text-align: center;
        font-size: 1.6rem;

    }

    &-block {
        img {
            display: inline-block;
            margin-bottom: 2rem;
            width: 100%;
            max-width: 30rem;
        }

        text-align: center;
        min-height: 30rem;
    }
}

//Доп услуги

//Контакты
.contacts {
    background: #fff url('../img/contacts-bg.jpg') center no-repeat;

    .contacts-header {
        font-size: 3.6rem;
        @include bold;
    }

    p {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #message {
        width: 100%
    }
    .myIFrame {
        width: 60rem;
        height: 30rem;
        border: none;
    }
}

//Контакты

//Фуеер
.footer {
    &-contacts {
        display: block;
        text-align: center;
        padding-top: 0.5rem;
    }

     &-dev-logo {
         text-align: right;
     }

    p {
        margin: 0;
    }

    .row {
        .footer-logo {
            display: flex;

            .logoText {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 1rem;

                .text-uppercase {
                    font-size: 2rem;
                    @include bold;
                }

                p {
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
        }
    }
}

//Фуеер


@media screen and (max-width: 1240px) {
    .scheme {
        background-size: 55rem;
    }
}


@media screen and (max-width: 1200px) {
    .main .phone-link {
        font-size: 1.5rem;
    }

    .feedback {
        &-form {
            padding: 3rem 1rem;
        }

        .fotorama {
            margin-bottom: 3rem;
        }
    }


}


@media screen and (max-width: 991px) {
    .main {
        background-position: top right;

        .logoText {
            margin-left: 1.5rem;
        }

        &-title h1 {
            font-size: 3.5rem;
        }

        .phone-link {
            font-size: 1rem;
        }
    }

    .feedback {
        .hand {
            display: none;
        }
    }

    .scheme {
        background-size: 48rem;
    }

    .problems {
        &-woman {
            display: none;
        }
    }

    .problems {
        &-list {
            min-height: 43rem;
        }
    }

    .contacts {
        background-color: #fff;
        background: none;
        &-form {
            margin-top: 3rem;
        }
    }
    .footer {
        text-align: center;

        &-logo {
            justify-content: center;
        }

        &-contacts {
            margin: 2rem 0;
        }
        &-dev-logo {
            text-align: center;
        }
    }
}

@media screen and (max-width: 769px) {
    .main {
        background-position: top right;

        &-title {
            h1 {
                font-size: 2.5rem;
            }
        }

        .wrap-content {
            button {
                margin-top: 4.5rem;
            }
        }

        .phone-link {
            font-size: 2rem;
        }
    }

    .price {
        &-button {
            text-align: center;
            margin-bottom: 3rem;
        }

        .section-header {
            margin: 0;
        }

        &-block {
            margin-top: 2rem;
        }
    }

    .feedback {
        &-prev-btn {
            left: 0;
        }

        &-next-btn {
            right: 0;
        }
    }

    .scheme {
        background: none;
        text-align: center;

        &-block {
            min-height: auto;
        }
    }

}