$mainColor: #70c849;
$sectionBGColor: #27680a;
$buttonsColorFrom: #ffb504;
$buttonsColorTo: #f5ad00;
$errorColor: #ff0000;
$bgColor: #f0f0f0;
$textColor: #ffffff;
$problems-color: #e8e8e8; 


$fontSize: 10px;